{% extends "base.html" %}
{% load static %}

{% block title %}
<title>Jason Luo 的部落格</title>
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/index.css" %}">
<link rel="stylesheet" href="{% static "blog/post.css" %}">
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static "blog/images/jason.jpg" %}" alt="Jason - The Author of This Blog">
        <h2>Jason Luo</h2>
    </header>
    <p>Hello World！我是 Jason Luo！這個網頁是我的個人作品！</p>
</section>

<section id="latest-posts">
    <h2>我的最新文章</h2>
    <ul>
        {% for post in posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section>

<section id="about">
    <h2>關於我</h2>
    <p>我喜歡寫網頁，專精於後端開發，持續成長為一名稱職的開發者。</p>
    <p>我喜歡運動，最近的新活動是抱石！</p>
</section>
{% endblock %}