{% extends "base.html" %}
{% load static %}

{% block title %}
<title>{{ post.title }}</title>
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock %}

{% block content %}
<section id="summary">
    <h2>{{ post.title }}</h2>
    <div>
        {% for tag in tags %}
            <span class="tag">{{ tag.caption }}</span>
        {% endfor %}
    </div>
    <div id="read-later">
        <form action="{% url "blog:read-later" %}" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ post.id }}" name="post_id">
            <button>
                {% if is_saved_post %}
                取消儲存
                {% else %}
                儲存
                {% endif %}
            </button>
        </form>
    </div>
    <article>
        <img src="{{ post.image.url }}" alt="{{ post.title }}">
        <!-- <address>By <a href="mailto:{{ post.author.email_address }}">{{ post.author }}</a></address> -->
        <div>最後更新時間：<time>{{ post.created_time|date:"Y-m-d" }}</time></div>
    </article>
</section>

{% if comment_form.errors %}
<div id="alert">
    <h2>儲存評論失敗！</h2>
    <p>請檢查文章下方的評論並修復您的錯誤！</p>
    <a href="#comment-form">修正</a>
</div>
{% endif %}

<main>
    {{ post.content|linebreaks }}
</main>

<section id="comments">
    <ul>
        {% for comment in comments %}
        <li>
            <h2>{{ comment.user_name }}</h2>
            <p>{{ comment.text|linebreaks }}</p>
        </li>
        {% endfor %}
    </ul>
</section>

<section id="comment-form">
    <h2>您的評論</h2>
    <form action="{% url "blog:post-detail" post.slug %}" method="POST">
        {% csrf_token %}
        {% for form_field in comment_form %}
        <div class="form-control {% if form_field.errors %}invalid{% endif %}">
            {{ form_field.label_tag }}
            {{ form_field }}
            {{ form_field.errors }}
        </div>
        {% endfor %}
        <button>儲存評論</button>
    </form>
</section>
{% endblock %}