{% extends "base.html" %}
{% load static %}

{% block title %}
<title>儲存文章</title>
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/saved-posts.css" %}">
{% endblock %}

{% block content %}
<section id="saved-posts">
    {% if not posts %}
    <p>您沒有儲存任何文章。</p>
    {% else %}
    <ul>
        {% for post in posts %}
        <li>
            <a href="{% url "blog:post-detail" post.slug %}">{{ post.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</section>
{% endblock %}